.claude
.vscode
.idea
.superpowers
__pycache__/
.env
.venv
测试数据
数据及提交说明
uploads
CLAUDE.md
start_backend.bat
start_frontend.bat
result

node_modules
dist
 
financial_report.sql
knowledge_chunk_embedding_20260425_104240.json
start_backend.sh
start_frontend.sh

nul
